@use "../base/variables" as v;
@use "../base/mixins" as m;

.boton-amarillo {
   @include m.boton(v.$amarillo, inline-block);
}

.boton-rojo-block {
   @include m.boton(v.$rojo, block);
   width: 100%;
}

.boton-amarillo-block {
   @include m.boton(v.$amarillo, block);
}




.boton-verde {
    @include m.boton(v.$verde, inline-block);
}

// .boton-verde {
//     @include m.boton(v.$azulOscuro, inline-block);
//     width: 10rem;
//     height: 10rem;
//     border-radius: 50%;
//     text-align: center;
//     justify-content: center;
// }


.sesion {
  background-color: v.$rojo;
  padding-inline: 1rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: (v.$rojo, 10%);
    color: v.$amarillo;
  }
}