//fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: "Nunito Sans", sans-serif;

//colores59cbe7
$azulClaro: #71d2ebc4;
$azulOscuro: #2463eb;
$marron: #8B4513;
$beige: #f5f5cd;
$blancohueso: #FAF9F6;
$blanco: #FFFFFF;
$negro: #1e1e1e;

// media query
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopKL: 1400px;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

$separacion: 5rem;