//fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: "lexend", sans-serif;


//colores59cbe7
$azulClaro: #5C7894;
$azulOscuro: #94C9FF;
$marron: #8B4513;
$beige: #f5f5cd;
$blancohueso: #FAF9F6;
$blanco: #FFFFFF;
$negro: #1e1e1e;
$rojo: #f8012a;


$verde: #71B100;
$amarillo: #fdda00;
$amarilloClaro: #e9d75f;
$gris: #e1e1e1;
$grisOscuro: #333333;

// media query
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopKL: 1400px;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

$separacion: 5rem;
