@use "../base/variables" as v;
@use "../base/mixins" as m;
.icon-wsp {
    position: fixed;
    width: 7rem;
    height: 7rem;
    bottom: 5rem;
    right: 2rem;
    color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 3;
 
 
    @include m.tablet {
        right: 5%;
    }
}
 
 
.caja {
    display: flex;
    align-items: center;
    position: fixed;
    width: 7rem;
    height: 7rem;
    bottom: 5rem;
    left: 2rem;
<<<<<<< HEAD
    background-color: v.$azulClaro;
=======
    background-color: v.$blanco;
>>>>>>> profe
    color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    font-size: 16px;
    padding-inline: 2rem;
    
 
   
 
 
    @include m.tablet {
        right: 5%;
    }
 
    p {
        margin: auto;
        color: v.$blanco;
        text-align: center;
        font-size: 16px;
    }
}